<title><%= @user.name %>'s Profile</title>

<h3 class="profile_header">Events hosted by <%= @user.name %>:</h3>
	<% if @user.events.any? %>
		<ul class="event_list">
			<% @user.events.sort.reverse.each do |event| %>
				<li class="event_item">
					<span>
						<i>Event:</i> <%= link_to "#{event.title}", show_event_path(:id => "#{event.id}") %>
					</span><br>
					<span>
						<i>Date:</i> <strong><%= clean_up_date(event.date) %></strong>
					</span>
				</li>
			<% end %>
		</ul>
	<% else %>
		<div>
			<%= @user.name %> hasn't hosted any events yet.
		</div>
	<% end %>

<h3 class="profile_header"><%= @user.name %>'s attendances:</h3>
	<h5 class="profile_sub_header">Upcoming events (<%= "#{@upcoming_events.count}" %>):</h5>
	<% if @upcoming_events.any? %>
		<ul class="event_list">
			<% @upcoming_events.each do |rsvp| %>
				<% event = Event.find_by(id: rsvp.event_id) %>
				<li class="event_item">
					<span>
						<i>Event:</i> <%= link_to "#{event.title}", show_event_path(:id => "#{event.id}") %>
					</span><br>
					<span>
						<i>Date:</i> <strong><%= clean_up_date(event.date) %></strong>
					</span>
				</li>
			<% end %>
		</ul>
	<% else %>
		<p>No upcoming events</p>
	<% end %>
	<h5 class="profile_sub_header">Past events (<%= "#{@past_events.count}"%>):</h5>
	<% if @past_events.any? %>
		<ul>
			<% @past_events.each do |rsvp| %>
				<% event = Event.find_by(id: rsvp.event_id) %>
				<li>
					<span>Event: <%= link_to "#{event.title}", show_event_path(:id => "#{event.id}") %></span><br>
					<span>Date: <%= clean_up_date(event.date) %></span>
				</li>
			<% end %>
		</ul>
	<% else %>
		<p>No past events</p>
	<% end %>
