<title>All Events</title>
<h2>Showing all Events:</h2>

<h3>Upcoming Events:</h3>
<% if @upcoming_events.any? %>
	<ul class="event_list">
		<% @upcoming_events.each do |event| %>
			<li class="event_item">
				Event: <%= link_to "#{event.title}", show_event_path(:id => "#{event.id}") %><br />
				Host: <%= event.user.name %><br />
				Date: <%= clean_up_date(event.date) %><br /><br />
			</li>
		<% end %>
	</ul>
<% else %>
	<p>No upcoming events</p>
<%end%>
<br>
<h3>Past Events:</h3>
<% if @past_events.any? %>
	<ul class="event_list">
		<% @past_events.each do |event| %>
			<li class="event_item">
				Event: <%= link_to "#{event.title}", show_event_path(:id => "#{event.id}") %><br />
				Host: <%= event.user.name %><br />
				Date: <%= clean_up_date(event.date) %><br />
			</li>
		<% end %>
	</ul>
<% else %>
	<p>No past events</p>
<% end %>

